<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xml:lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="layout.xhtml">
    <ui:define name="content">
    
    	<p:dataTable var="account" value="#{accountController.accounts}">
    		<p:column headerText="Username">
    			<h:outputText value="#{account.username}" />
    		</p:column>
    		<p:column headerText="Server">
    			<h:outputText value="#{account.mailServer}"/>
    		</p:column>
    	</p:dataTable>
        
        <h:form id="accountForm">
            <p:panel header="Add MailServer account">
                <h:panelGrid columns="1">
                    <p:outputLabel for="username" value="Username: " />
                    <p:inputText id="username" value="#{accountController.account.username}" />
					<p:outputLabel for="password" value="Password: " />
                    <p:password id="password" value="#{accountController.account.password}" />
                    <p:selectOneMenu value="#{accountController.account.mailServer}">
                    	<f:selectItems value = "#{accountController.serverTypes}" />
                    </p:selectOneMenu>                   
                    <h:commandButton value="Save" action="#{accountController.save}" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
</html>